ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

MYSQL_ROOT_PASSWORD=replace_with_your_railway_mysql_password
MYSQL_PUBLIC_URL=mysql://${{MYSQLUSER}}:${{MYSQL_ROOT_PASSWORD}}@${{RAILWAY_TCP_PROXY_DOMAIN}}:${{RAILWAY_TCP_PROXY_PORT}}/${{MYSQL_DATABASE}}